<!-- <div class="card mt-5 me-2 ms-3">
    <div class="image-container overflow-hidden">
        <img src="https://via.placeholder.com/1200x400" alt="">
    </div>
    <div class="p-3">
        <h2>Tes</h2>
        <p>Lorem ipsum</p>
        <a href="/" class=" text-decoration-none">View Product</a>
    </div>
</div> -->

{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
<div class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container text-center">
        <p class="display-5 mb-5">Coming Soon</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock %}